

  services.flatpak.enable = true;
 
  hardware.nvidia.package = config.boot.kernelPackages.nvidiaPackages.stable;
 
  programs.steam.enable = true;
 
  programs.hyprland.enable = true; 
 
  programs.hyprland.xwayland.enable = true;
 
  services.xserver.windowManager.i3.enable = true;
 
  services.xserver.windowManager.qtile.enable = true; 
 
  nix.settings.experimental-features = [ "nix-command" "flakes" ]; 
 
  boot.supportedFilesystems = [ "ntfs" ]; 
 
 
  # Enable OpenGL
  hardware.opengl = {
    enable = true;
  };
 
  boot.kernelParams = [ "nvidia_drm.fbdev=1" ];
 
  services.xserver.videoDrivers = ["nvidia"];
 
  hardware.nvidia = {
 
    # Nvidia power management. Experimental, and can cause sleep/suspend to fail.
    # Enable this if you have graphical corruption issues or application crashes after waking
    # up from sleep. This fixes it by saving the entire VRAM memory to /tmp/ instead 
    # of just the bare essentials.
    powerManagement.enable = false;
 
 
    # Modesetting is required.
    modesetting.enable = true;
 
    open = false;
 
   nvidiaSettings = true;
   };
 
 
      kdePackages.kate
      steam
      i3
      qtile
      hyprland
      rofi
      wofi
      waybar
      polybar
      kitty
      alacritty
      fastfetch
      nwg-look
      lxappearance
      xdg-desktop-portal-hyprland
      arandr
      hyprpaper
      ntfs3g
      git
      neovim 
      lua
      distcc
      zig
      docker
      autotiling
      feh
      picom
      neovim
      zig
      go
      tmux
      ripgrep
      .libsForQt5.kmix
      r2modman
      libsForQt5.ark
      flatpak
      gnome.gnome-software
