/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #202020FF;
    background-alt: #2c2c2cFF;
    foreground:     #ccccccFF;
    selected:       #6495edFF;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
